:root {
    --gray: #90a4ae;
    --linkedin: #0e76a8;
    --github: #6e5494;
    --ng: #dd1b16;
    --ad: #3DDC84;
}

.logoblur {
    position: absolute;
    /* border: 1px solid white; */
    pointer-events: none;
    left: 0px;
    top: 0px;
    width: 10%;
    height: 15%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.video-wrapper,
.img-wrapper {
    display: flex;
    position: relative;
    text-align: center;
}

.skill {
    color: white;
    font-size: 0.6rem;
    border-radius: 4px;
    background: crimson;
    max-height: 24px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
}

.skill.tech {
    background: crimson;
}

.skill.soft {
    background: sandybrown;
}


/* PC Screen */

@media (min-width:320px) {
    h2,
    h3 {
        line-height: 1.6;
        margin-bottom: 0rem;
    }
    .faded {
        color: var(--gray);
    }
    .linkedin {
        color: var(--linkedin);
    }
    .github {
        color: var(--github);
    }
    .ng {
        color: var(--ng);
    }
    .ad {
        color: var(--ad);
    }
    .slide-in-left {
        animation: 0.5s slideinleft ease-in-out;
    }
    .slide-in-right {
        animation: 0.5s slideinright ease-in-out;
    }
    .hideable {
        visibility: visible;
        width: 24px;
        opacity: 1;
        transition: 0.1s all ease-in-out;
        margin-left: 1rem;
        padding-top: 0.1rem;
    }
    .hideable.hidden {
        visibility: hidden;
        width: 0px;
        opacity: 0;
        transition: 0.1s all ease-in-out;
    }
    body {
        display: flex;
        flex: 1 1;
        justify-content: center;
        font-family: 'Roboto Mono', monospace;
        overflow-x: hidden;
    }
    .body-content {
        display: flex;
        flex: 1 1;
        justify-content: center;
        flex-direction: column;
        padding: 1rem 5rem 1rem 5rem;
        position: relative;
        overflow-x: hidden;
    }
    .preload * {
        /* transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important; */
    }
    .profile-pic {
        margin-left: 1rem;
        border-radius: 50%;
        height: 48px;
    }
    .spin {
        display: inline-block;
        animation: spin 0.7s;
        animation-iteration-count: 1;
    }
    .spin:hover {
        animation: spin 0.7s;
        animation-iteration-count: 1;
    }
    .updown {
        display: inline-block;
        position: relative;
        animation: updown 0.7s linear;
        animation-iteration-count: 2;
    }
    .header-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
    .header {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        padding-bottom: 1.5rem;
    }
    .header-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header-row-sticky {
        display: none;
    }
    #email-btn {
        margin-right: 1rem;
    }
    .body {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    .body::before {
        content: '';
        width: 50px;
        display: block;
    }
    .role-stack {
        display: flex;
        flex-direction: column;
    }
    .portfolio-ic {
        width: 64px;
        margin-top: 0.5rem;
    }
    .portfolio-wrapper {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .portfolio-preview-wrapper {
        position: relative;
    }
    .portfolio-preview {
        width: 650px;
        border: 1px;
    }
    .portfolio {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 1rem;
    }
    .portfolio:hover {
        cursor: pointer;
        box-shadow: black 20px 6px 20px 0px;
        padding-left: 1rem;
        padding-right: 1rem !important;
    }
    .portfolio-brand-ic {
        display: flex;
        flex-direction: column;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
    #email-btn {
        margin-left: 1rem;
    }
    #location-ic {
        margin-right: 1rem;
    }
    .resume-btn,
    .location-btn {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        right: 0px;
    }
    .resume-btn:hover,
    .location-btn:hover {
        cursor: pointer;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 60%;
        padding-top: 1rem;
    }
    .footer-btn {
        font-size: 1rem;
    }
    .footer-btn:hover {
        cursor: pointer;
    }
    #night-mode-btn {
        cursor: pointer;
    }
    .dynamic-content-holder {
        display: flex;
        flex-direction: row;
    }
    .dynamic-content-item {
        animation: 0.5s slideinright ease-in-out;
        display: flex;
        flex-direction: row-reverse;
        white-space: nowrap;
        font-size: 0.75rem;
    }
}


/* Phone Screen */

@media (min-width:320px) and (max-width:600px) {
    .dynamic-content-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dynamic-content-item {
        animation: 0.5s slideinright ease-in-out;
        display: flex;
        justify-content: center;
    }
    .hideable {
        display: none;
    }
    .body::before {
        content: '';
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        display: block;
    }
    .body-content {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .header {
        max-width: 100%;
    }
    .header-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .header-row-sticky {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
    .profile-pic {
        margin-left: 0.5rem;
    }
    .portfolio {
        padding: 1rem 0.3rem 1rem 0.3rem;
        max-width: 100%;
    }
    .portfolio {
        flex-direction: column;
    }
    .portfolio-brand-ic {
        display: flex;
        flex-direction: row;
        margin-right: 0;
    }
    .portfolio-ic {
        margin-top: 0;
    }
    .portfolio-preview {
        width: 100%;
    }
    .role-stack {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #email-btn {
        margin: 0;
    }
    .footer {
        max-width: 100%;
    }
}

.envelope:hover .envelope-closed {
    display: inline;
}

.envelope-closed:hover .envelope {
    display: none;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 16px;
    /* color: #2E3D48; */
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}


/* Keyframes */

@keyframes rainbowglow {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    42% {
        color: green;
    }
    56% {
        color: blue;
    }
    80% {
        color: violet;
    }
    90% {
        color: purple;
    }
    100% {
        color: red;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes updown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 12px;
    }
}

@keyframes slideinleft {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideinright {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideindown {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: grey;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: grey;
    }
}

@-webkit-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: grey;
    }
}

@-ms-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: grey;
    }
}

@-o-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: grey;
    }
}