:root {
    --gray: #90a4ae;
    --linkedin: #0e76a8;
    --github: #6e5494;
    --ng: #dd1b16;
    --ad: #3DDC84;
}


/* PC Screen */

@media (min-width:320px) {
    h2,
    h3 {
        line-height: 1.6;
        margin-bottom: 0rem;
    }
    .faded {
        color: var(--gray);
    }
    .linkedin {
        color: var(--linkedin);
    }
    .github {
        color: var(--github);
    }
    .ng {
        color: var(--ng);
    }
    .ad {
        color: var(--ad);
    }
    .slide-in-left {
        animation: 1s slideinleft ease-in-out;
    }
    .slide-in-right {
        animation: 1s slideinright ease-in-out;
    }
    .hideable {
        visibility: visible;
        width: 24px;
        opacity: 1;
        transition: 0.5s all ease-in-out;
        margin-left: 1rem;
        padding-top: 0.1rem;
    }
    .hideable.hidden {
        visibility: hidden;
        width: 0px;
        opacity: 0;
        transition: 0.5s all ease-in-out;
    }
    body {
        display: flex;
        flex: 1 1;
        justify-content: center;
        font-family: 'Roboto Mono', monospace;
        overflow-x: hidden;
    }
    .body-content {
        display: flex;
        flex: 1 1;
        justify-content: center;
        flex-direction: column;
        padding: 1rem 5rem 1rem 5rem;
        position: relative;
        overflow-x: hidden;
    }
    .preload * {
        /* transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important; */
    }
    .profile-pic {
        margin-left: 1rem;
        border-radius: 50%;
        height: 48px;
    }
    .spin {
        display: inline-block;
        animation: spin 1.5s;
        animation-iteration-count: 1;
    }
    .spin:hover {
        animation: spin 1.5s;
        animation-iteration-count: 1;
    }
    .updown {
        display: inline-block;
        position: relative;
        animation: updown 0.7s linear;
        animation-iteration-count: 2;
    }
    .header-wrapper {
        display: flex;
        justify-content: center;
    }
    .header {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        padding-bottom: 1.5rem;
    }
    .header-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header-row-sticky {
        display: none !important;
    }
    .header-end {
        display: flex;
        flex-direction: row-reverse;
        flex: 1 1;
        align-items: center;
        animation: 1s slideinright ease-in-out;
    }
    .body {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    .body::before {
        content: '';
        width: 50px;
        border-bottom: 1px solid lightgray;
        display: block;
    }
    .portfolio-ic {
        width: 64px;
        margin-top: 0.5rem;
    }
    .portfolio-wrapper {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }
    .portfolio-preview {
        width: 650px;
        border: 1px;
    }
    .portfolio {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        right: 0;
        margin-top: 1rem;
    }
    .portfolio:hover {
        cursor: pointer;
        box-shadow: black 20px 6px 20px 0px;
        padding-left: 1rem;
        padding-right: 1rem !important;
    }
    .portfolio-brand-ic {
        display: flex;
        flex-direction: column;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
    .resume-btn,
    .location-btn {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        right: 0px;
    }
    .resume-btn:hover,
    .location-btn:hover {
        cursor: pointer;
    }
    .footer-wrapper {
        display: flex;
        justify-content: center;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 60%;
        padding-top: 1rem;
    }
    .footer-btn {
        font-size: 2rem;
    }
    .footer-btn:hover {
        cursor: pointer;
    }
}


/* Phone Screen */

@media (min-width:320px) and (max-width:600px) {
    .hideable {
        display: none;
    }
    .body::before {
        content: '';
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        border-bottom: 1px solid lightgray;
        display: block;
    }
    .body-content {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .header {
        max-width: 100%;
    }
    .header-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .header-row-sticky {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid var(--gray);
        z-index: 100;
        box-shadow: 0 2px 1px 1px gray;
    }
    .profile-pic {
        margin-left: 0.5rem;
    }
    .portfolio {
        padding: 1rem 0.3rem 1rem 0.3rem;
        max-width: 100%;
    }
    .portfolio {
        flex-direction: column;
    }
    .portfolio-brand-ic {
        display: flex;
        flex-direction: row;
        margin-right: 0;
    }
    .portfolio-ic {
        margin-top: 0;
    }
    .portfolio-preview {
        width: 100%;
    }
    .footer {
        max-width: 100%;
    }
}

.envelope:hover .envelope-closed {
    display: inline;
}

.envelope-closed:hover .envelope {
    display: none;
}


/* Keyframes */

@keyframes rainbowglow {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    42% {
        color: green;
    }
    56% {
        color: blue;
    }
    80% {
        color: violet;
    }
    90% {
        color: purple;
    }
    100% {
        color: red;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes updown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 12px;
    }
}

@keyframes slideinleft {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideinright {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideindown {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}