body {
    font-family: Georgia, serif;
    height: 100%;
    width: 100%;
}

* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.body {
    margin: 1rem;
    overflow-x: hidden;
}

@media print {
    @page {
        /* size: 8.5in 12in; */
    }
    .cv-canvas {
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0in;
        width: 8.5in;
        height: 12in;
        background-color: rgb(250, 255, 255, green, blue);
    }
    .body {
        margin: 0 !important;
    }
    .print-button {
        display: none !important;
    }
}

@media (min-width:320px) {
    .body {
        margin: 0 !important;
    }
    /* .print-button{
        top: unset !important;
        bottom: 16px !important;
    } */
}

.print-button {
    position: fixed;
    top: 16px;
    left: 16px;
}

.cv-canvas {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0in;
    width: 8.5in;
    height: 12in;
    background-color: rgb(250, 255, 255, green, blue);
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
}

.cv-header {
    display: flex;
    flex-direction: column;
    height: 2.2in;
    background-color: #607d8b;
    padding-top: 0.25in;
    padding-right: 0.5in;
    padding-bottom: 0.25in;
    padding-left: 0.5in;
}

.cv-header-name {
    font-size: 0.35in;
    color: white;
}

.cv-header-work-title {
    font-size: 0.18in;
    color: white;
}

.cv-header-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.12in;
    color: white;
    padding-top: 0.3in;
}

.cv-header-detail a,
.cv-header-work-title a {
    color: #cfd8dc;
}

.cv-header-detail:hover a,
.cv-header-work-title:hover a {
    color: white;
}

.cv-header-detail {
    display: flex;
    flex: 1 1 50%;
}

.cv-header-detail-title {
    width: 0.6in;
}

.cv-body {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-top: 0.25in;
    padding-right: 0.57in;
    padding-bottom: 0.25in;
    padding-left: 0.57in;
}

.cv-body-short-summary {
    text-align: justify;
    text-justify: inter-word;
    color: black;
    font-size: 0.15in;
}

.cv-skills-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 2in;
    margin-top: 0.2in;
}

.cv-timeline-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0.2in;
}

.cv-timeline-container {
    display: inline-flex;
    /* flex-direction: row; */
}

.cv-timeline-line-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cv-timeline-header {
    font-weight: 600;
    font-size: 0.2in;
    padding-left: 0.2in;
    line-height: 1.2;
}

.cv-timeline-icon-md {
    border-radius: 50%;
    background-color: black;
    width: 12px;
    height: 12px;
}

.cv-timeline-icon-lg {
    border-radius: 50%;
    background-color: black;
    width: 24px;
    height: 24px;
}

.cv-timeline-icon-lg i {
    position: relative;
    margin-left: 25%;
    margin-top: 25%;
    font-size: 12px;
}

.cv-timeline-line {
    display: flex;
    flex: 1 1;
    border-left: 1px solid black;
    margin-left: 12px;
    height: 12px;
}

.cv-timeline-line-sm {
    border-left: 1px solid black;
    margin-left: 12px;
    height: 12px;
}

.cv-timeline-line-pad {
    border-left: 1px solid black;
    margin-left: 12px;
    max-height: 12px;
}

.cv-timeline-dot {
    position: relative;
    border-radius: 50%;
    background-color: black;
    margin-left: 8px;
    padding-top: 25%;
    width: 8px;
    height: 8px;
}

.cv-timeline-content {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    padding-left: 0.2in;
    padding-top: 3px;
}

.cv-timeline-content-date-s {
    font-weight: 550;
    font-size: 0.13in;
    white-space: nowrap;
}

.cv-timeline-content-date-e {
    font-weight: 550;
    font-size: 0.13in;
    white-space: nowrap;
}

.cv-timeline-content-body {
    display: flex;
    flex-direction: column;
    padding-left: 0.1in;
    text-align: justify;
    font-size: 0.15in;
}

.cv-timeline-content-work-details {
    font-size: 0.15in;
}

.cv-timeline-content-description {
    padding-top: 0.1in;
}