body{
    font-family: Georgia, serif;
    height: 100%;
    width: 100%;
}

*{
    -webkit-print-color-adjust: exact;
}

.body{
    margin: 1rem;
    overflow-x: hidden;
}

@media print{
    @page{
        size: 8.5in 12in;
    }
    .resume-canvas{
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0in;
        width: 8.5in;
        height: 12in;
        background-color: rgb(250,255,255, green, blue);
        box-shadow: 0 3px 8px -3px rgba(0,0,0,0.7);
    }

    .body{
        margin: 0 !important;
    }
}

@media (min-width:320px)  {
    .body{
        margin: 0 !important;
    }

    /* .print-button{
        top: unset !important;
        bottom: 16px !important;
    } */
 }

.print-button{
    position: fixed;
    top: 16px;
    left: 16px; 
}

ul{
    padding-left: 0 !important;
}

.resume-canvas{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0in;
    width: 8.5in;
    height: 12in;
    background-color: rgb(250,255,255, green, blue);
    box-shadow: 0 3px 8px -3px rgba(0,0,0,0.7);
}

.resume-header{
    display: flex;
    flex-direction: column;
    height: 2in;
    background-color: #607d8b;
    padding-top: 0.25in;
    padding-right: 0.5in;
    padding-bottom: 0.25in;
    padding-left: 0.5in;
}

.resume-header-name{
    font-size: 0.35in;
    color: white;
}

.resume-header-work-title{
    font-size: 0.18in;
    color: white;
}

.resume-header-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.12in;
    color: white;
    padding-top: 0.3in;
}

.resume-header-details a{
    color: #cfd8dc;
}
.resume-header-details a:hover{
    color: white;
}

.resume-header-detail{
    display: flex;
    flex: 1 1 50%;
}

.resume-header-detail-title{
    width: 0.6in;
}

.resume-body{
    display: flex;
    flex-direction: column;
    padding-top: 0.25in;
    padding-right: 0.57in;
    padding-bottom: 0.25in;
    padding-left: 0.57in;
}

.resume-body-short-summary{
    text-align: justify;
    text-justify: inter-word;
    color: black;
    font-size: 0.15in;
}

.resume-timeline-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 0.2in;
}

.resume-timeline-container{
    display: inline-flex;
    /* flex-direction: row; */
}

.resume-timeline-line-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.resume-timeline-header{
    font-weight: 600;
    font-size: 0.2in;
    padding-left: 0.2in;
    line-height: 1.2;
}

.resume-timeline-icon-md{
    border-radius: 50%;
    background-color: black;
    width: 12px;
    height: 12px;
}

.resume-timeline-icon-lg{
    border-radius: 50%;
    background-color: black;
    width: 24px;
    height: 24px;
}

.resume-timeline-icon-lg i {
    position: relative;
    margin-left: 25%;
    margin-top: 25%;
    font-size: 12px;
}

.resume-timeline-line{
    display: flex;
    flex: 1 1;
    border-left: 1px solid black;
    margin-left: 12px;
    height: 12px;
}

.resume-timeline-line-sm{
    border-left: 1px solid black;
    margin-left: 12px;
    height: 12px;
}

.resume-timeline-line-pad{
    border-left: 1px solid black;
    margin-left: 12px;
    max-height: 12px;
}

.resume-timeline-dot{
    position: relative;
    border-radius: 50%; 
    background-color: black;
    margin-left: 8px;
    padding-top: 25%;
    width: 8px;
    height: 8px;
}

.resume-timeline-content{
    display: flex;
    flex: 1 1;
    flex-direction: row;
    padding-left: 0.2in;
    padding-top: 3px;
}

.resume-timeline-content-date-s{
    font-weight: 550;
    font-size: 0.13in;
    white-space: nowrap;
}

.resume-timeline-content-date-e{
    font-weight: 550;
    font-size: 0.13in;
    white-space: nowrap;
}

.resume-timeline-content-body{
    display: flex;
    flex-direction: column;
    padding-left: 0.1in;
    text-align: justify;
    font-size: 0.15in;
}

.resume-timeline-content-work-details{
    font-size: 0.15in;
}

.resume-timeline-content-description{
    padding-top: 0.1in;
}